body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avenir, sans-serif;
  margin-top: 1.5em;
}

.header {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  color: #626366;
}

img {
  width: 50%; 
  height: auto;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C83436;
  color: #FFFFFF;
  border-radius: 0.5em;
  overflow: hidden;
  margin: 1em 0.5em;
  font-size: 1rem;
}

table tr {
  border: 2px solid #FFFFFF;
}

table th {
  display: none;
}

table td {
  display: block;
  padding: 0.5em;
}

table td:before {
  content: attr(data-th);
  font-weight: bold;
  width: 6em;
  display: inline-block;
}

@media (min-width: 480px) {
  table td:before {
    display: none;
  }
}

table th, table td {
  text-align: left;
}

@media (min-width: 480px) {
  table th, table td {
    display: table-cell;
  }
}

table th, table td {
  margin: 0.5em 1em;
}

@media (min-width: 480px) {
  table th, table td {
    padding: 1em !important;
  }
}


